<h1>Search for a User</h1>
<p>
  <small>Users from <a href="https://jsonplaceholder.typicode.com/users" target="_blank" title="Fake Database">JSON Placeholder</a></small>
</p>
<input type="text" class="form-control" id="searchTextUsers" [(ngModel)]="searchTextUsers" placeholder="Type here...">

<br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">Phone</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | search:searchTextUsers">
      <td>{{user.username}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.website}}</td>
    </tr>
  </tbody>
</table>

<br><br>

<h1>Search for a Comment</h1>
<p>
  <small>Comments from <a href="https://jsonplaceholder.typicode.com/comments" target="_blank" title="Fake Database">JSON Placeholder</a></small>
</p>
<input type="text" class="form-control" id="searchTextComments" [(ngModel)]="searchTextComments" placeholder="Type here...">

<br><br>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">E-mail</th>
    <th scope="col">Body</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let comment of comments | search:searchTextComments:commentsSearchFields">
    <td>{{comment.name}}</td>
    <td>{{comment.email}}</td>
    <td>{{comment.body}}</td>
  </tr>
  </tbody>
</table>
